In [1]:
#元组
tup = 4,5,6

In [3]:
tup

(4, 5, 6)

In [4]:
nested_tup = (4,5,6),(7,8)

In [6]:
nested_tup

((4, 5, 6), (7, 8))

In [9]:
#使用tuple函数把任意序列或迭代器转换伟元组
tuple([3,4,5])

(3, 4, 5)

In [11]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [31]:
tup3 = tuple(['foo',[1,2],True])

In [33]:
tup3[0]

'foo'

In [43]:
tup1 = tuple(['git',1,2,3,True])

In [44]:
tup1[3]

3

In [45]:
#元组一旦创建，各个位置的对象是无法被修改的
tup1[1] = 2

TypeError: 'tuple' object does not support item assignment

In [46]:
#但是如果元组内部的元素是可变的，例如列别，那么可以在其内部进行修改

In [48]:
tup2 = tuple(['fee',[1,2,3],2,3,4])
tup2

('fee', [1, 2, 3], 2, 3, 4)

In [50]:
tup2[1].append(4)

In [52]:
tup2

('fee', [1, 2, 3, 4, 4], 2, 3, 4)

In [57]:
del tup2[1][-1]

In [58]:
tup2

('fee', [1, 2, 3], 2, 3, 4)

In [59]:
tup2

('fee', [1, 2, 3], 2, 3, 4)

In [60]:
tup2 * 4

('fee',
 [1, 2, 3],
 2,
 3,
 4,
 'fee',
 [1, 2, 3],
 2,
 3,
 4,
 'fee',
 [1, 2, 3],
 2,
 3,
 4,
 'fee',
 [1, 2, 3],
 2,
 3,
 4)

In [1]:
#元组的拆包

In [2]:
tup=(4,5,6)

In [3]:
a,b,c = tup

In [5]:
b

5

In [7]:
c

6

In [9]:
#嵌套元组也可以拆包
tup = 4,5,(6,7)

In [10]:
a,b,(c,d)  = tup

In [12]:
d

7

In [14]:
tup

(4, 5, (6, 7))

In [16]:
tup[1] = 2

TypeError: 'tuple' object does not support item assignment

In [43]:
a = 1
b = 2
t = a
a = b
b = t

In [45]:
a

2

In [47]:
b

1

In [1]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a = {0},b = {1},c = {2}'.format(a,b,c))

a = 1,b = 2,c = 3
a = 4,b = 5,c = 6
a = 7,b = 8,c = 9

In [2]:
#使用*rest功能获取任意长度的位置的参数列表
values = 1,2,3,4,5
a,b,*rest = values

In [4]:
a,b

(1, 2)

In [6]:
rest

[3, 4, 5]

In [10]:
#元组的使用方法：
#由于元组的内容和长度无法改变，他的实例方法很少。一个常用的有用方法是count（列表中也可以使用），用于计量某个数值在元组中出现的次数
a = (1,2,2,2,2,2,2,2,3,4)
a.count(2)

7

In [11]:
#列表

In [14]:
#列表内容可修改
list1 = [2,3,4,5,None]
tup = ('foo','bar','ddd')
list1 = list(tup)

In [16]:
list1

['foo', 'bar', 'ddd']

In [18]:
list1[1] = 1

In [20]:
list1

['foo', 1, 'ddd']

In [22]:
#元组和列表的许多函数用法是相似的
gen = range(10)
gen

range(0, 10)

In [24]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
#移除或者增加元素
#使用append方法可以添加元素到列表的尾部
list1 = list(gen)

In [34]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
list1.append(10)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [37]:
#使用insert方法可以将元素插入指定的列表位置
list1.insert(1,'red')
list1

[0, 'red', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [38]:
list1.insert(0,'niko')
list1

['niko', 0, 'red', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [3]:
#使用insert和append相比，计算代价更高，因为子序列元素不得不在内部移动为新元素提供位置。
#insert的反操作是pop，改操作会将特定位置的元素移除并返回

In [5]:
list1 = [1,2,3,4,5]
list1.pop(2)

3

In [6]:
list1

[1, 2, 4, 5]

In [2]:
#remove方法和drop方法都是去掉元素，remove（去掉的是元素，如果列表中有相同的元素，会定位到第一个符合要求的值），drop（去掉的是元素索引）
list1 = [1,2,3,4,5]
list1.remove(1)
list1

[2, 3, 4, 5]

In [3]:
#使用in关键字可以检查一个值是否在列表中，not in表示不在列表中

In [4]:
'foo' in list1

False

In [5]:
'foo' not in list1

True

In [6]:
#连接和联合多个列表
#与元组类似，两个列表可以通过使用+号连接

In [7]:
list2 = [1,2,34,'ggg'] + [5,6,7,'hhh']
list2

[1, 2, 34, 'ggg', 5, 6, 7, 'hhh']

In [8]:
#如果已经定义了一个列表，可以使用extend方法向该列表添加多个元素
list2.extend(list1)

In [9]:
list2

[1, 2, 34, 'ggg', 5, 6, 7, 'hhh', 2, 3, 4, 5]

In [10]:
#排序，偶尔会调用sort方法对列表内部进行排序（无需创建一个对象）

In [12]:
a = [7,6,4,6,4,2]
a.sort()
a

[2, 4, 4, 6, 6, 7]

In [13]:
#sort有一些选项偶尔会排上用场。其中一个二级排序key，一个用于生成排序值的函数，例如通过字符串的长度进行排序

In [14]:
b = ['abccfgd','bbrt4','ttt','2','llj']
b.sort(key = len)
b

['2', 'ttt', 'llj', 'bbrt4', 'abccfgd']

In [15]:
#切片
seq = [1,2,3,4,5,6]

In [17]:
seq[3:5]

[4, 5]

In [18]:
#切片也可以将序列赋值给变量

In [19]:
seq

[1, 2, 3, 4, 5, 6]

In [21]:
seq[3:4] = [7,8]
seq

[1, 2, 3, 7, 8, 5, 6]

In [22]:
#切片的stop和start都是可以忽略的，如果忽略的话会默认传入序列的起始位置或者结束位置：
seq[:5]

[1, 2, 3, 7, 8]

In [23]:
seq[3:]

[7, 8, 5, 6]

In [24]:
#尾部进行索引
seq[-3:]

[8, 5, 6]

In [25]:
#步进值step可以在第二个冒号后面使用，意识是每隔多少个数取一个值
seq[::2]#表示浏览整个列表，每隔两个数取一个元素

[1, 3, 8, 6]

In [ ]:
"""
enumerate在字典上是枚举、列举的意思
enumerate参数为可遍历/可迭代的对象(如列表、字符串)
enumerate多用于在for循环中得到计数，利用它可以同时获得索引和值，即需要index和value值的时候可以使用enumerate
enumerate()返回的是一个enumerate对象
"""