In [1]:
import pandas as pd

In [2]:
from pandas import Series,DataFrame

In [3]:
#series
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
obj.values  #可以通过此表达获取series的值

array([ 4,  7, -5,  3], dtype=int64)

In [5]:
obj.index   #可以通过此表达获取series的索引

RangeIndex(start=0, stop=4, step=1)

In [6]:
#通常需要创建每个索引序列，用标签标识每个数据点
obj1 = pd.Series([1,7,-5,3],index=['a','b','c','d'])
obj1

a    1
b    7
c   -5
d    3
dtype: int64

In [7]:
obj1['b']

7

In [8]:
obj1['b'] = 6

In [9]:
obj1

a    1
b    6
c   -5
d    3
dtype: int64

In [11]:
obj1[['c','a']]

c   -5
a    1
dtype: int64

In [12]:
obj1[obj1>0]

a    1
b    6
d    3
dtype: int64

In [13]:
obj1*2

a     2
b    12
c   -10
d     6
dtype: int64

In [14]:
np.exp(obj1)

NameError: name 'np' is not defined

In [15]:
import numpy as np
np.exp(obj1)

a      2.718282
b    403.428793
c      0.006738
d     20.085537
dtype: float64

In [22]:
#使用字典生成一个series
sdata = {'ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}
obj2 = pd.Series(sdata)

In [23]:
obj2

ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [24]:
obj3 = pd.Series(sdata,index=['California','ohio','Oregon','Texas'])
obj3

California        NaN
ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [26]:
pd.isnull(obj3)

California     True
ohio          False
Oregon        False
Texas         False
dtype: bool

In [27]:
pd.notnull(obj3)

California    False
ohio           True
Oregon         True
Texas          True
dtype: bool

In [28]:
obj3

California        NaN
ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [29]:
obj2

ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [30]:
obj2+obj3

California         NaN
Oregon         32000.0
Texas         142000.0
Utah               NaN
ohio           70000.0
dtype: float64

In [31]:
obj3.name = 'population'
obj3.index.name = 'state'
obj3

state
California        NaN
ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [32]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [33]:
obj.index=['bob','steve','jeff','ryan']
obj

bob      4
steve    7
jeff    -5
ryan     3
dtype: int64